/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Amatic+SC:wght@700;400&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
}

p {
  font-family: 'Oswald', sans-serif;
}

footer {
  background-color: #1b394b;
  color:  #DBDBDB;
}

